.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;

@media screen and (min-width: 1200px) {
  padding-top: 94px;
  padding-bottom: 94px;}
}

@media screen and (min-width: 768px) {
  .benefits__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.benefits__content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  max-height: 120px;
  background-color: var(--bg-color-normal);
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    max-width: 354px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 270px;
}
}

.benefits__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: start;
  color: var(--secondary-color-txt);

  @media screen and (max-width: 767px) {
    text-align: center;
}
}

.benefits__item {
  max-width: 450px;
  max-height: 226px;
  text-align: start; 

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color-txt);
  
  @media screen and (max-width: 767px) {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

  @media screen and (min-width: 768px) {
    max-width: 354px;
    max-height: 251px;  
  }
  @media screen and (min-width: 1200px) {
    max-width: 270px;
}
 
 }

