/* Clients styles */
.clients {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;}
  }


.clients__title {
  @extend %h2-title;
  margin-bottom: 30px;
  font-size: 28px;
    line-height: 1.18;

    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
      font-size: 36px;
      line-height: 1.16;
  }
}

.clients__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;
  color: var(--social-links-color);
  border: 1px solid var(--social-links-color);
  border-radius: 4px;

  transition: color var(--anim), border var(--anim);

  &:hover,
  &:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
  }
  @media screen and (min-width: 768px) {
    width: 226px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
}
}
.clients__icons {
  fill: currentColor;
}
