.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;

    @media screen and (max-width: 767px) {
        max-width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

@media screen and (min-width: 1200px) {
    width: 1200px;
}
}

.container__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 767px) {
    align-items: center;
    justify-content: space-between;
}
}