.team {
    background-color: var(--bg-color-normal);
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    height: auto;

    @media screen and (max-width: 767px) {
        // width: 480px;
    }

    @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
}
}



.team__title {
  @extend %h2-title;
  margin-bottom: 30px;
  font-size: 28px;
    line-height: 1.18;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
}
}

.team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.person {
    width: 450px;
    background-color: var(--basic-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (min-width: 768px) {
        width: 354px;
      }
      @media screen and (min-width: 1200px) {
        width: 270px;
    }
}

.person__description {
padding-top: 30px;
padding-bottom: 30px;
}
.person__name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-color-txt);
}
.person__position {
    margin-bottom: 16px;
    font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--main-color-txt);
}
