:root {
    --main-color-txt: #757575;
    --secondary-color-txt: #212121;
    --accent-color: #2196F3;
    --basic-white: #fff;
    --basic-black: #000000;
    --bg-color-dark: #2F303A;
    --bg-color-light: #E5E5E5;
    --bg-color-normal: #F5F4FA;
    --social-links-color: #AFB1B8;
    --btn-hover: #188CE8;
    --shadow-color: #EEEEEE;

    --main-font: 'Roboto';
    --second-font: 'Raleway';

    --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
